.header {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
  object-fit: cover;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
