.wrapper {
  border-radius: 0.5rem;
  position: relative;
  width: 100%;
  height: 180px;
  background-image: url("https://www.ticketmaster.com/s3images/discovery/Concerts.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.content {
  position: absolute;
  bottom: 0px !important;
  left: 1rem !important;
}

.content h3 {
  color: white;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.05em;
}
