.search_container {
  box-sizing: border-box;

  height: 69px;
  opacity: 1;
  /* White */

  background: #ffffff;
  /* Text/Dark */

  border: 2px solid #060609;
  border-radius: 4px;
}
.search_container:focus-within {
  box-shadow: 4px 4px 1px #0022ba;
}
.search_input {
  /* height: 65px; */
  width: 494px;
  /* White */

  /* Text/Dark */
}
.search_input:focus {
  outline: none;
}
.line {
  width: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* Text/2nd Lightest */

  border: 1px solid #ddddde;
}
.button_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  gap: 4px;

  width: 100px;
  height: 39px;

  /* Brand/Primary/Default */

  background: #4f4cee;
  border-radius: 4px;
}
