.appBarHeader {
  height: 60px;
  width: 100vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0 1rem;
  z-index: 100;
}

.sidebar {
  height: 100vh;
  width: 256px;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f0f0f0;
}

.menu {
  padding: 1rem 0px;
}

.userMenu {
  display: flex;
  cursor: pointer;
  border-color: lightgray;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  border-radius: 180px;
  gap: 0.5rem;
  max-width: 180px;
}
